:root {
  --Dark_blue: hsl(223, 47%, 23%); /* button */
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);
  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
